# Introduction

Decision Tree:
A decision tree is one of most frequently and widely used
supervised machine learning algorithms that can perform both 
regression and classification tasks.
The intuition behind the decision tree algorithm is simple, yet also very powerful.

Advantages of Decision Trees

There are several advantages of using decision treess for predictive analysis:

    Decision trees can be used to predict both continuous and discrete values i.e. they work well for both regression and classification tasks.
    They require relatively less effort for training the algorithm.
    They can be used to classify non-linearly separable data.
    They're very fast and efficient compared to KNN and other classification algorithms.

# Implementation Using Python scikit klearn

# 1.Decision Tree For classification

The rest of the steps to implement this algorithm in Scikit-Learn are identical to any typical machine learning problem, we will import libraries and datasets, perform some data analysis, divide the data into training and testing sets, train the algorithm, make predictions, and finally we will evaluate the algorithm's performance on our dataset.

In [11]:
# import Libraries


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

%matplotlib inline

In [12]:
#data analysis
data=pd.read_csv("bill_authentication.csv")

In [13]:
data.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [14]:
data.tail()

      Variance  Skewness  Curtosis  Entropy  Class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [15]:
data.isnull()

      Variance  Skewness  Curtosis  Entropy  Class
0        False     False     False    False  False
1        False     False     False    False  False
2        False     False     False    False  False
3        False     False     False    False  False
4        False     False     False    False  False
5        False     False     False    False  False
6        False     False     False    False  False
7        False     False     False    False  False
8        False     False     False    False  False
9        False     False     False    False  False
10       False     False     False    False  False
11       False     False     False    False  False
12       False     False     False    False  False
13       False     False     False    False  False
14       False     False     False    False  False
15       False     False     False    False  False
16       False     False     False    False  False
17       False     False     False    False  False
18       False     False     False    False  False
19       False     False     False    False  False
20       False     False     False    False  False
21       False     False     False    False  False
22       False     False     False    False  False
23       False     False     False    False  False
24       False     False     False    False  False
25       False     False     False    False  False
26       False     False     False    False  False
27       False     False     False    False  False
28       False     False     False    False  False
29       False     False     False    False  False
...        ...       ...       ...      ...    ...
1342     False     False     False    False  False
1343     False     False     False    False  False
1344     False     False     False    False  False
1345     False     False     False    False  False
1346     False     False     False    False  False
1347     False     False     False    False  False
1348     False     False     False    False  False
1349     False     False     False    False  False
1350     False     False     False    False  False
1351     False     False     False    False  False
1352     False     False     False    False  False
1353     False     False     False    False  False
1354     False     False     False    False  False
1355     False     False     False    False  False
1356     False     False     False    False  False
1357     False     False     False    False  False
1358     False     False     False    False  False
1359     False     False     False    False  False
1360     False     False     False    False  False
1361     False     False     False    False  False
1362     False     False     False    False  False
1363     False     False     False    False  False
1364     False     False     False    False  False
1365     False     False     False    False  False
1366     False     False     False    False  False
1367     False     False     False    False  False
1368     False     False     False    False  False
1369     False     False     False    False  False
1370     False     False     False    False  False
1371     False     False     False    False  False

[1372 rows x 5 columns]

In [16]:
data.isnull().count()

Variance    1372
Skewness    1372
Curtosis    1372
Entropy     1372
Class       1372
dtype: int64

In [17]:
data.shape

(1372, 5)

In [50]:
data.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [22]:
data.columns

Index(['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class'], dtype='object')

preparing data, to divide data into attributes and labels:
    Here the X variable contains all the columns from the dataset, except the "Class" column, which is the label. The y variable contains the values from the "Class" column. The X variable is our attribute set and y variable contains corresponding labels.

In [34]:
X=data.drop("Class",axis=1)
y=data["Class"]

In [40]:
#dataset processing step
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [41]:
#Training and Making predictions
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [42]:
y_pred = classifier.predict(X_test)

In [43]:
#Evaluating the Algorithm
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[152   2]
 [  1 120]]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       154
           1       0.98      0.99      0.99       121

   micro avg       0.99      0.99      0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

# Decision Tree for Regression

The process of solving regression problem with decision tree using Scikit Learn is very similar to that of classification. However for regression we use DecisionTreeRegressor class of the tree library. Also the evaluation matrics for regression differ from those of classification. The rest of the process is almost same.

In [73]:
data2=pd.read_csv("petrol_consumption.csv")

In [74]:
data2.shape

(48, 5)

In [75]:
data2.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [76]:
data2.tail()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
43,7.0,3745,2611,0.508,591
44,6.0,5215,2302,0.672,782
45,9.0,4476,3942,0.571,510
46,7.0,4296,4083,0.623,610
47,7.0,5002,9794,0.593,524

Goal:We will use this dataset to try and predict gas consumptions (in millions of gallons) in 48 US states based upon gas tax (in cents), per capita income (dollars), paved highways (in miles) and the proportion of population with a drivers license.

In [77]:
data2.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [78]:
X=data2.drop("Petrol_Consumption", axis=1)
y=data2["Petrol_Consumption"]

In [79]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30, random_state=0)

In [80]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [81]:
pred_y=regressor.predict(X_test)

Now let's compare some of our predicted values with the actual values and see how accurate we were:

In [82]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':pred_y})
df

    Actual  Predicted
29     534      547.0
4      410      414.0
26     577      648.0
30     571      648.0
32     577      648.0
37     704      603.0
34     487      648.0
40     587      649.0
7      467      414.0
10     580      464.0
11     471      498.0
31     554      648.0
33     628      648.0
27     631      603.0
47     524      525.0

In [85]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, pred_y))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, pred_y))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, pred_y)))
print("Accuracy score: ",metrics.accuracy_score(y_test,pred_y))

Mean Absolute Error: 59.93333333333333
Mean Squared Error: 5545.133333333333
Root Mean Squared Error: 74.46565203725362
Accuracy score:  0.0

The mean absolute error for our algorithm is 85.0, which is less than 10 percent of the mean of all the values in the 'Petrol_Consumption' column. This means that our algorithm did a fine prediction job.

Resources

Want to learn more about Scikit-Learn and other useful machine learning algorithms? I'd recommend checking out some more detailed resources, like an online course:

    Python for Data Science and Machine Learning Bootcamp
    Machine Learning A-Z: Hands-On Python & R In Data Science
    Data Science in Python, Pandas, Scikit-learn, Numpy, Matplotlib

In [84]:
# time to kaggle